*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.flex {
  display: flex;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  max-width: 1128px;
}

.header {
  background-color: #f3eed9;
  color: #824936;
  min-height: 660px;
  text-align: center;
}

.header h1 {
  font-family: "Playfair Display", serif;
  font-size: 60px;
}

.header h4 {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: #222c2a;
  letter-spacing: 3px;
}

.mainCon {
  min-height: 450px;
}

.mainCon__title {
  font-family: "Playfair Display", serif;
  text-align: center;
  color: #824936;
}

.mainCon h1 {
  font-size: 36px;
}

.twoCol {
  width: 45%;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}

.row {
  display: flex;
  justify-content: space-between;
}

.custom {
  background-color: #222c2a;
  color: #fff;
}

.care {
  background-color: #824936;
  color: #fff;
}

img {
  align-self: flex-start;
}

.customText {
  width: 45%;
}

.careText {
  width: 45%;
}
